<body>
    <!-- Preloader -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <!-- Brand -->
            <a href="/">
              <%= image_tag("logopetitrouge.jpg", :alt => "rss feed", :class => "navbar-brand", :style => "width:75px") %>
            </a>
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mt-4 mt-lg-0 ml-auto">
                  <li class="nav-item ">
                      <a class="nav-link" href="/">Accueil</a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link" href="/connaitre">Nous Connaître</a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link" href="/impact">Notre Impact</a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link" href="/soutenir">Nous Soutenir</a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link" href="/contact">Nous Contacter</a>
                  </li>
                </ul>

                <!-- Mobile button -->
 <!--                <div class="d-lg-none text-center">
                    <a href="https://webpixels.io/themes/quick-website-ui-kit" class="btn btn-block btn-sm btn-warning">See more details</a>
                </div> -->
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <section class="slice py-8 bg" style="">
      <div class="container py-5">
        <div class="row row-grid align-items-center">
          <div class="col-lg-6 text-center text-lg-left fade-in-left" style="z-index: 1000">
            <!-- Heading -->
            <h1 class="mb-4 maintext2" style="color: #F6511D;">
              Nous <strong style="color: black">Connaître</strong>
            </h1>
            <!-- Text -->
            <!-- Buttons -->
           <!--  <div class="mt-5">
                <a href="#" class="btn btn-warning btn-lg btn-icon">
                    <span class="btn-inner--icon">
                        <i data-feather="edit-3"></i>
                    </span>
                    <span class="btn-inner--text">Contactez Nous</span>
                </a>
            </div> -->
          </div>
          <div class="col-lg-6">
            <div class="imghome">
              <%= image_tag("backpage2.png", :alt => "rss feed", :class => "imgconnaitre") %>

              <%= image_tag("smallconaitre.png", :class => "smallconnaitre") %>
            </div>
          </div>
        </div>
      </div>
    </section>

  <!--   <section class="slice slice-lg">
      <div class="container">
        <h1 class="text-center" style="margin-bottom: 3em; color: black;">Ce que nous faisons</h1>
        <div class="flex">
          <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptas ut nemo repellendus debitis facilis hic officia blanditiis architecto dicta dolorum, nam quasi quo ratione, ipsum, sequi corporis natus in!</h1>
        </div>
      </div>
    </section> -->

    <section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6 bg">
      <div class="container">
        <!-- Title -->
        <!-- Section title -->
        <div class="row mb-5 justify-content-center text-center">
            <div class="col-lg-6">
                <!-- <span class="badge badge-soft-success badge-pill badge-lg">
                  Get started
                </span> -->
                <h2 class="mt-6 pb-6 no-bot">Notre Accueil</h2>
                <div class="mt-2">
                  <p class="lead lh-180"><!-- Use Atomic Design to build components, sections and, then, pages. --></p>
                </div>
            </div>
        </div>
        <!-- Card -->

        <div class="row mt-5">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body pb-1">
<!--                     <div class="pt-4 pb-5">
                    <img src="assets/img/svg/illustrations/illustration-5.svg" class="img-fluid img-center" style="height: 150px;" alt="Illustration" />
                </div> -->
                <h5 class=" lh-130 mb-3 smallfont"> &#8226 Hébergement de courte durée </h5>
                <h5 class="text-muted mb-4 smallfont">Pour permettre aux différents intervenants de trouver des solutions dans un bref délai en tenant compte des difficultés que rencontre le jeune et des possibilités qui lui sont offertes : accueil d’urgence.</h5>
                <h5 class=" lh-130 mb-3 smallfont">&#8226 Hébergement à durée moyenne</h5>
                <h5 class="text-muted mb-4 smallfont">Pour travailler sur une problématique avec le jeune : mandat ou time-out.</h5>
                <h5 class=" lh-130 mb-3 smallfont">&#8226 Hébergement de longue durée</h5>
                <h5 class="text-muted mb-4 smallfont">Sur base d’évaluation après un accueil : accompagnement projet.</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="slice slice-lg pt-lg-1 pb-0 pb-lg-4 bg-section">
      <div class="container">
        <!-- Title -->
        <!-- Section title -->
       <!--  <div class="row mb-5 justify-content-center text-center">
            <div class="col-lg-6">
                <span class="badge badge-soft-success badge-pill badge-lg">
                  Get started
                </span>
                <h2 class=" mt-4">Notre Accueil</h2>
                <div class="mt-2">
                  <p class="lead lh-180">Use Atomic Design to build components, sections and, then, pages.</p>
                </div>
            </div>
        </div> -->
        <!-- Card -->

        <div class="row mt-5">
          <div class="col-lg-12">

            <%= image_tag("newhexa.png", :class => "img-fluid img-center smallpic", :style => "max-width:540px") %>
<!--                   <img src="places.png" class="img-fluid img-center" style="height: 150px;" alt="Illustration" /> -->
          </div>
        </div>
      </div>
    </section>
    <section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6 bg">
      <div class="container">
        <!-- Title -->
        <!-- Section title -->
        <div class="row mb-5 justify-content-center text-center">
            <div class="col-lg-6">
                <!-- <span class="badge badge-soft-success badge-pill badge-lg">
                  Get started
                </span> -->
                <h2 class=" mt-6 pb-6">Notre Accompagnement</h2>
            </div>
        </div>
        <!-- Card -->

        <div class="row mt-5" style="text-align: justify;">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body pb-§">
<!--                     <div class="pt-4 pb-5">
                    <img src="assets/img/svg/illustrations/illustration-5.svg" class="img-fluid img-center" style="height: 150px;" alt="Illustration" />
                </div> -->
                <blockquote>
                <h5 class="text-muted mb-5 pt-5" >
                  Notre but est d’offrir un cadre d’accueil et d’accompagnement alternatifs en faveur des mineurs étrangers isolés de leur famille. Mais aussi, d’assurer une prise en charge des jeunes qui nécessitent une aide immédiate dans des situations de crise et d’urgence. Également, l’ASBL tient à favoriser la mise en œuvre d’un projet réaliste afin de permettre au jeune de faire une expérience de vie en autonomie et d’évoluer dans un environnement adéquat.
                </h5>
                <p>Thomas Simon Senghor - Directeur</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6 bg-section">
      <div class="container">
        <!-- Title -->
        <!-- Section title -->
        <div class="row mb-5 justify-content-center text-center">
            <div class="col-lg-6">
                <h2 class=" mt-6 pb-6">Notre Équipe</h2>
                <div class="mt-2">
                  <p class="lead lh-180"><!-- Use Atomic Design to build components, sections and, then, pages. --></p>
                </div>
            </div>
        </div>
        <!-- Card -->

        <div class="row mt-5">
          <div class="col-lg-12">

            <%= image_tag("teamcorriger.png", :class => "img-fluid img-center") %>
<!--                   <img src="places.png" class="img-fluid img-center" style="height: 150px;" alt="Illustration" /> -->
          </div>
        </div>
      </div>
    </section>

    <section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6 bg-section">
      <div class="container">
        <div class="row mb-5 justify-content-center text-center">
          <div class="col-lg-6">
            <h2 class=" mt-4">Notre Histoire</h2>
          </div>
        </div>
        <div class="md-py-6">
          <div class="row mt-4 row-grid justify-content-between align-items-center">
              <div class="col-lg-8 order-lg-2">
                  <h5 class="h3"><!-- Need a quick admin panel for your website? --></h5>
                  <h5 class="my-4">
                     Synergie14 est une initiative née de la formation d’un groupe de réfugiés et étudiants issus pour l’essentiel de l’Afrique subsaharienne réunis autour de la question : l’exil et après ? L’idée de mettre en place un dispositif d’accueil et d’accompagnement de Mineurs Étrangers Non Accompagnés en Belgique est lancée : Projet Relais. En même temps, la nécessité d’intervenir sur deux des causes de ce mouvement migratoire que sont le manque de scolarité mais surtout le décrochage scolaire nous a emmenés à la mise en place d’écoles de devoirs en Afrique, notamment au Niger.
                  </h5>
              </div>
              <div class="col-lg-4 order-lg-1">
                <div class="card2 mb-0 mr-lg-5 align-items-center">
                  <div class="hexa gon1" style="background-color: #B33951; width: 220px; font-size: 2em;"> <strong>2004 </strong></div>
                </div>
              </div>
          </div>
        </div>
        <div class="py-6">
          <div class="row row-grid justify-content-between align-items-center text-right">
            <div class="col-lg-8 text-right">
              <h5 class="h3 text-left"><!-- A modern project management dashboard --></h5>
              <h5 class="my-4" style="text-align: justify;">
                Rapidement rejoints par d’autres personnes intéressées par la problématique de la migration, les questions d’éducation mais aussi de l’Aide à la jeunesse et/ou des droits humains, les activités d’aide commencèrent à la rue Jean Van Volsem à Ixelles. Avec une capacité de 4 lits et une fréquentation journalière des jeunes qui ne comprenaient pas l’intérêt de rester dans un centre pour mineurs, nous nous retrouvions avec 10 prises en charges en moyenne par jour.
              </h5>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card2 mb-0 mr-lg-5 align-items-center">
                <div class="hexa gon1" style="background-color: #F6511D; width: 220px; font-size: 2em;"> <strong>2006 </strong></div>
              </div>
            </div>
          </div>
        </div>
        <div class="py-6">
          <div class="row mt-4 row-grid justify-content-between align-items-center">
              <div class="col-lg-8 order-lg-2">
                  <h5 class="h3"><!-- Need a quick admin panel for your website? --></h5>
                  <h5 class="my-4">
                    Avec le soutien de Fedasil, de la Fédération Wallonie-Bruxelles, du CPAS d’Ixelles, de l’asbl Arc-en-Ciel, de quelques Fondations et de fidèles donateurs, le travail sans relâche de l’équipe a fini par convaincre les partenaires mais surtout les bénéficiaires de la nécessité d’un accueil plus large par Synergie14. Ce succès a permis d’augmenter notre capacité avec 3 places à Van Volsem et 11 à la rue Wéry à Ixelles. 2014 a connu le couronnement de nos efforts par l’agrément de la Fédération Wallonie-Bruxelles en tant que PEP (Projet Educatif Particulier) et 2015 par la signature de la convention de partenariat avec Fedasil.
                  </h5>
              </div>
              <div class="col-lg-4 order-lg-1">
                <div class="card2 mb-0 mr-lg-5 align-items-center">
                  <div class="hexa gon1" style="background-color: #FFB400; width: 220px; font-size: 2em;"> <strong>2008 </strong></div>
                </div>
              </div>
          </div>
        </div>
        <div class="py-6">
          <div class="row row-grid justify-content-between align-items-center text-right">
            <div class="col-lg-8 text-right">
              <h5 class="h3 text-left"><!-- A modern project management dashboard --></h5>
              <h5 class="my-4" style="text-align: justify;">
                Depuis juin 2020 nous sommes au 91 de la rue Keyenveld, toujours à Ixelles, pour des raisons logistiques qui nous permettent d’améliorer l’accueil et l’accompagnement des jeunes sur un seul site. Les nouvelles installations offrent plus d’espace aux jeunes, favorisent la création de nouveaux projets et la mise en place d’ateliers et d’activités variés. Vous pourrez suivre toute cette nouveauté en nous rendant visite sur place ou en consultant notre page Facebook et le site web.
              </h5>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card2 mb-0 mr-lg-5 align-items-center">
                <div class="hexa gon1" style="background-color: #54494B; width: 220px; font-size: 2em;"> <strong>2020 </strong></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6 bg">
      <div class="container">
        <!-- Title -->
        <!-- Section title -->
        <div class="row mb-5 justify-content-center text-center">
            <div class="col-lg-6">
                <!-- <span class="badge badge-soft-success badge-pill badge-lg">
                  Get started
                </span> -->
                <h2 class=" mt-6 mb-6">Un Travail Sans Relâche</h2>
            </div>
        </div>
        <!-- Card -->

        <div class="row mt-5">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body pb-5">
<!--                     <div class="pt-4 pb-5">
                    <img src="assets/img/svg/illustrations/illustration-5.svg" class="img-fluid img-center" style="height: 150px;" alt="Illustration" />
                </div> -->
                <blockquote>
                <h5 class="text-muted mb-5 pt-5" style="line-height:2em">
                  A l’heure d’écrire ces lignes, le monde assiste à une nouvelle crise de l’accueil suite aux évènements en Afghanistan et une sérieuse remise en question de l’intervention des occidentaux dans les pays en difficultés. De notre côté, chez Synergie14, nous osons dire que notre modèle d’accueil, d’aide aux jeunes migrants, fonctionne.
                  Effectivement, après 16 ans d’existence le travail accompli par l’équipe éducative a été énorme et professionnel. Il y a eu des directeurs brillants et attachants avec des grosses personnalités (Ousmane puis Oumar, retournés depuis au Niger pour mettre leurs grandes qualités au service de leur patrie d’origine, et maintenant notre excellent Thomas, dans l’équipe d’ailleurs depuis le départ); il y a eu des assistantes sociales, administratives, des éducateurs/trices, des stagiaires, des administrateurs/trices qui ont travaillé sans relâche avec cœur et intelligence pour accueillir au mieux près de 2.500 jeunes depuis la création de l’asbl. Merci du fond du cœur à tous ceux-là !
                  Une raison peut-être de notre succès tient du fait qu’une partie de l’équipe éducative a connu personnellement le parcours de l’exil, cela se ressent souvent dans la facilité de contact direct et franc avec les jeunes… souci que d’autres structures d’accueil rencontrent.
                  Nous pensons et espérons que chaque jeune qui sort de Synergie14 repart avec l’idée de construire positivement la suite de son cheminement en Belgique ou en Europe. Des perspectives existent, nous leur donnons des clefs pour y parvenir mais insistons sur l’autonomie.
                  Pour réussir ce challenge d’accueil, nous avons besoin de soutien matériel et financier. Merci à ceux, partenaires publiques et donateurs privés, qui nous soutiennent, pour leur confiance !
                  Ne nous lâchez pas, vous ne serez pas déçus… Au bout du compte, c’est rentable.
                </h5>
                <p>David Cardon de Lichtbuer - Président du CA</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6 bg">
      <div class="container">
        <%= image_tag("orga.png", :class => "img-fluid img-center smallpic", :style => "max-width:840px") %>
      </div>
    </section>


<footer class="footer-07">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <h2 class="footer-heading"><a href="#" class="logo">Synergie14.com</a></h2>
        <p class="menu">
          <a class="" href="/connaitre">Nous Connaître</a>
          <a class="" href="/impact">Notre Impact</a>
          <a class="" href="/soutenir">Nous Aider</a>
          <a class="" href="/contact">Nous Contacter</a>
          <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><%= image_tag("backtop.png", :alt => "rss feed", :style => "color: green", :class => "img_scd mt-5"  ) %></a>
        </p>
        <!-- <ul class="ftco-footer-social p-0">
          <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="ion-logo-twitter"></span></a></li>
          <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="ion-logo-facebook"></span></a></li>
          <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="ion-logo-instagram"></span></a></li>
        </ul> -->
      </div>
    </div>
  </div>
</footer>

<script>
  let backtotop = select('.back-to-top')
    if (backtotop) {
      const toggleBacktotop = () => {
        if (window.scrollY > 100) {
          backtotop.classList.add('active')
        } else {
          backtotop.classList.remove('active')
        }
      }
      window.addEventListener('load', toggleBacktotop)
      onscroll(document, toggleBacktotop)
    }
</script>
