<body>
    <!-- Preloader -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <!-- Brand -->
            <a href="/">
              <%= image_tag("logopetitrouge.jpg", :alt => "rss feed", :class => "navbar-brand", :style => "width:75px") %>
            </a>
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mt-4 mt-lg-0 ml-auto">
                  <li class="nav-item ">
                      <a class="nav-link" href="/">Accueil</a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link" href="/connaitre">Nous Connaître</a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link" href="/impact">Notre Impact</a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link" href="/soutenir">Nous Soutenir</a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link" href="/contact">Nous Contacter</a>
                  </li>
                </ul>

                <!-- Mobile button -->
<!--                 <div class="d-lg-none text-center">
                    <a href="https://webpixels.io/themes/quick-website-ui-kit" class="btn btn-block btn-sm btn-warning">See more details</a>
                </div> -->
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <section class="slice py-10 bg" style="">
      <div class="container py-5">
        <div class="row row-grid align-items-center">
          <div class="col-lg-6 text-center text-lg-left fade-in-left" style="z-index: 100;">
            <!-- Heading -->
            <h1 class="mb-4" style="color: black;font-weight: 900;font-size: 69Px;">
              Nous <strong style="color: #F6511D">Soutenir</strong>
            </h1>
            <!-- Text -->
            <!-- Buttons -->
            <div class="mt-5">
                <a href="/contact" class="btn btn-warning btn-lg btn-icon">
                    <span class="btn-inner--icon">
                        <i data-feather="edit-3"></i>
                    </span>
                    <span class="btn-inner--text">Contactez-Nous</span>
                </a>
            </div>
          </div>
          <div class="col-lg-6 fade-in-right">
            <div class="imghome" style="position: absolute; top: -29em; left: -14em;">
              <%= image_tag("back4.png", :alt => "rss feed", :style => "width: 860px") %>
            </div>
          </div>
        </div>
      </div>
    </section>

  <section class="slice slice-lg pt-lg-6 pb-0 pb-lg-0 bg-section no-marg-bot">
    <div class="container">
      <!-- Title -->
      <!-- Section title -->
      <div class="row mb-5 justify-content-center text-center">
          <div class="col-lg-6">
              <h2 class=" mt-4">Comment nous aider?</h2>
    <!--           <div class="mt-2">
                  <p class="lead lh-180">Use Atomic Design to build components, sections and, then, pages.</p>
              </div> -->
          </div>
      </div>
      <!-- Card -->
      <div class="row mt-5 pt-6 lastcont smally">
        <div class="col-md-4">
          <div class="card move-up">
            <div class="card-body pb-5 text-center">
              <div class="pt-4 pb-5 align-items-center d-flex justify-content-center">
                <%= image_tag("human.png", :alt => "rss feed", :class => "smallimg" ) %>
              </div>


              <h5 class="h4 lh-130 mb-3 midle">Humain</h5>
              <p class="text-muted mb-0 midle">Besoins de personnel ou de bénévoles.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card move-up-orange">
            <div class="card-body pb-5 text-center">
              <div class="pt-4 pb-5 align-items-center d-flex justify-content-center">
                <%= image_tag("donner.png", :alt => "rss feed", :class => "smallimg"  ) %>
              </div>
              <h5 class="h4 lh-130 mb-3 midle">Materiels</h5>
              <p class="text-muted mb-0 midle">Mobiliers, vêtements et autres...</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card move-up-red">
            <div class="card-body pb-5 text-center">
              <div class="pt-4 pb-5 align-items-center d-flex justify-content-center">
                <%= image_tag("trolley.png", :alt => "rss feed", :class => "smallimg") %>
              </div>
              <h5 class="h4 lh-130 mb-3 midle">Finances</h5>
              <p class="text-muted mb-0 midle">Soutenez des projets, activités</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6 bg-section no-marg-top">
      <div class="container">
<!--         <div class="row mb-5 justify-content-center text-center">
          <div class="col-lg-6">
            <h2 class=" mt-4">Notre Histoire</h2>
          </div>
        </div> -->
        <div class="py-6 no-marg-top">
          <div class="row mt-4 row-grid justify-content-between align-items-center">
              <div class="col-lg-8 order-lg-2">
                  <h5 class="h3">Envie de nous apporter votre soutient ?</h5>
                  <h5 class="my-4 text-muted lineheight">
                    Nous avons besoin de personnes motivées par notre projet et ayant envie de donner un peu de leur temps, partager leur expérience avec les jeunes dans des ateliers ou diverses activités.
                  </h5>
              </div>
              <div class="col-lg-4 order-lg-1">
                <div class="card2 mb-0 mr-lg-5 align-items-center">
                  <%= image_tag("soutient.png", :alt => "rss feed", :style => "max-width:250px") %>
                </div>
              </div>
          </div>
        </div>
        <div class="py-6">
          <div class="row row-grid justify-content-between align-items-center text-right">
            <div class="col-lg-8 text-right">
              <h5 class="h3 text-right">Supportez-nous dans nos projets:</h5>
              <h5 class="my-4 text-muted lineheight">
                Grâce à vos dons, nous arrivons à réaliser beaucoup de nos projets et activités.
                <br>
                <strong>Via Arc-en-ciel: Compte: BE41 6300 1180 0010</strong>
                <br>
                Communication: "Don au projet n°25" (exonération fiscale à partir de 40€)
                <br>
                <strong>Via le compte personnel de Synergie14 (sans exonération fiscale): Compte: BE35 0014 7450 0737</strong>
              </h5>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card2 mb-0 mr-lg-5 align-items-center">
                <%= image_tag("aide.png", :alt => "rss feed", :style => "max-width:250px") %>
              </div>
            </div>
          </div>
        </div>
        <div class="py-6">
          <div class="row mt-4 row-grid justify-content-between align-items-center">
              <div class="col-lg-8 order-lg-2">
                  <h5 class="h3">Nous avons besoin de matériel:</h5>
                  <h5 class="my-4 text-muted lineheight">
                    Permet de remplacer régulièrement le matériel usagé et de combler certains besoins des jeunes.
                    Contactez-nous pour plus d’informations.
                  </h5>
              </div>
              <div class="col-lg-4 order-lg-1">
                <div class="card2 mb-0 mr-lg-5 align-items-center">
                  <%= image_tag("lefoot.png", :alt => "rss feed", :style => "max-width:250px") %>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>

    <section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6 bg-section" style="background-color: #FFB63D;">
      <div class="container">
          <div class="row mb-5 justify-content-center text-center">
            <div class="col-lg-6">
              <h2 class=" mt-4">Nos Besoins actuels</h2>
            </div>
          </div>

            <!-- Features -->
            <div class="row mx-lg-n4">
              <!-- Features - Col 1 -->
              <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none move-up-orange">
                  <div class="p-3 d-flex">
                    <div>
                      <div class="icon icon-shape rounded-circle bg-warning text-white mr-4">
                        <i data-feather="check"></i>
                      </div>
                    </div>
                    <div>
                      <span class="h6">Matériel de sport</span>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none move-up-orange">
                  <div class="p-3 d-flex">
                    <div>
                      <div class="icon icon-shape rounded-circle bg-primary text-white mr-4">
                          <i data-feather="check"></i>
                      </div>
                    </div>
                    <div>
                      <span class="h6">Vêtements chauds</span>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none move-up-orange">
                  <div class="p-3 d-flex">
                    <div>
                      <div class="icon icon-shape rounded-circle bg-danger text-white mr-4">
                          <i data-feather="check"></i>
                      </div>
                    </div>
                    <div>
                      <span class="h6">Smartphone</span>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none move-up-orange">
                  <div class="p-3 d-flex">
                    <div>
                      <div class="icon icon-shape rounded-circle bg-success text-white mr-4">
                        <i data-feather="check"></i>
                      </div>
                    </div>
                    <div>
                      <span class="h6">Matelas</span>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none move-up-orange">
                  <div class="p-3 d-flex">
                    <div>
                      <div class="icon icon-shape rounded-circle bg-info text-white mr-4">
                          <i data-feather="check"></i>
                      </div>
                    </div>
                    <div>
                      <span class="h6">Un/une Volontaire</span>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none move-up-orange">
                  <div class="p-3 d-flex">
                    <div>
                      <div class="icon icon-shape rounded-circle bg-warning text-white mr-4">
                        <i data-feather="check"></i>
                      </div>
                    </div>
                    <div>
                      <span class="h6">Équipements</span>

                    </div>
                  </div>
                </div>
              </div>
              <!-- Features - Col 3 -->
              <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none move-up-orange">
                  <div class="p-3 d-flex">
                    <div>
                      <div>
                          <div class="icon icon-shape rounded-circle bg-info text-white mr-4">
                              <i data-feather="check"></i>
                          </div>
                      </div>
                    </div>
                    <div>
                      <span class="h6">Un animateur</span>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none move-up-orange">
                  <div class="p-3 d-flex">
                    <div>
                      <div>
                        <div class="icon icon-shape rounded-circle bg-danger text-white mr-4">
                          <i data-feather="check"></i>
                        </div>
                      </div>
                    </div>
                    <div>
                      <span class="h6">Draps</span>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none move-up-orange">
                  <div class="p-3 d-flex">
                    <div>
                      <div>
                        <div class="icon icon-shape rounded-circle bg-primary text-white mr-4">
                          <i data-feather="check"></i>
                        </div>
                      </div>
                    </div>
                    <div>
                      <span class="h6">Mobilier</span>

                    </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
    </section>
    <section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6 bg">
      <div class="container">
        <!-- Title -->
        <!-- Section title -->
        <div class="row mb-5 justify-content-center text-center">
            <div class="col-lg-6">
                <!-- <span class="badge badge-soft-success badge-pill badge-lg">
                  Get started
                </span> -->
                <h2 class=" mt-6 mb-6">Un Travail Sans Relâche</h2>
            </div>
        </div>
        <!-- Card -->

        <div class="row mt-5">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body pb-5 mt-5">
<!--                     <div class="pt-4 pb-5">
                    <img src="assets/img/svg/illustrations/illustration-5.svg" class="img-fluid img-center" style="height: 150px;" alt="Illustration" />
                </div> -->
                <blockquote>
                <h4>Rapport annuel 2019-2020 - Délégué Général aux Droits de l'Enfant - Communauté française Wallonie-Bruxelles (cfwb.be)</h4>
                <h5 class="text-muted pt-5" style="line-height:2em">
                  « Il est évident que l’environnement politique ne facilite pas toujours nos initiatives, mais ce n’est pas faute d’avoir essayé d’interpeller le législateur à chaque problématique »
                </h5>
                <p class="text-muted mb-5 pt-5" style="line-height:2em">
                  Je tiens d’abord à remercier Bernard De Vos pour toutes les initiatives mises en place en termes de concertation sociale avec les différents acteurs qui travaillent pour les jeunes et notamment pour les MENA. Je retiens de son mandat le désir permanent de centrer son rôle de Délégué Général aux Droits de l’Enfant sur l’institutionnel plutôt que sur un charisme personnel. Ce rôle s’est traduit à plusieurs reprises par la défense des droits des jeunes en invitant toujours les intervenants sociaux à la table de la réflexion afin de trouver des solutions adaptées. Il est évident que l’environnement politique ne facilite pas toujours nos initiatives, mais ce n’est pas faute d’avoir essayé d’interpeller le législateur à chaque problématique. C’est pour cette raison que nous voudrions souligner un des sujets qui nous tient à cœur et qui doit s’inscrire dans la continuité de nos actions : l’accueil et l’insertion sociale des MENA non demandeurs d’asile, impliqués dans des faits qualifiés d’infractions. Ce public représente une niche plus ou moins importante en fonction des pics d’arrivées. Le problème reste toujours entier quel que soit le nombre, en termes de stabilité dans les centres d’accueil et de projet scolaire adapté. La seule institution qui arrive actuellement à les contenir par contrainte – ce qui n’est pas dans nos missions – est l’IPPJ. À ce propos, nous ne pouvons, en tant qu’intervenants sociaux, qu’imaginer des solutions basées sur la motivation. Pour ce faire, nous aurions souhaité, en plus du panel d’activités proposées par les associations, mettre en place un dispositif d’apprentissage scolaire moins élevé que le CEFA (Centre d’Éducation et de Formation en Alternance, ndlr), mais qui ne se résume pas forcément à la classe passerelle (DASPA - Dispositif d’Accueil et de Scolarisation des élèves Primo-Arrivants) avec son système d’enseignement classique pour des jeunes ayant décroché depuis longtemps de l’école. Le but est de trouver un consensus entre le ministère chargé de l’enseignement et le ministère en charge de la jeunesse pour reconnaître comme fréquentation scolaire quelque chose de plus simple et d’accessible à ces jeunes en difficulté. Nous pensons déjà à l’expertise de "Lire et Ecrire", aux écoles comme la Providence, aux associations qui proposent un apprentissage scolaire adapté en collaboration avec un ensemble de patrons et d’entreprises pour mettre en place ce système. L’objectif est de mettre ces jeunes à la pratique dès les premières semaines de l’accueil au centre, pour motiver en même temps leur sens de l’apprentissage théorique et que celui-ci n’occupe pas toutes leurs journées de la semaine, assis sur un banc. Synergie14 avait déjà commencé à travailler sur cette idée à travers des consultations, mais les mesures de sécurité sanitaire liées à la pandémie de cette année 2020 ont, pour l’instant, tout interrompu. En espérant toujours un soutien sans faille dans la continuité de l’élan pris par M. De Vos sur la problématique des jeunes en difficultés, nous lui souhaitons de meilleurs horizons et qu’il reste toujours le conseiller et l’acteur social qu’il a toujours été.
                </p>
                <p>Thomas Simon Senghor - Directeur de l'asbl Synergie 14</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="slice slice-lg">
      <div class="container">
        <div class="row mb-5 justify-content-center text-center">
          <div class="col-lg-6">
            <span class="badge badge-soft-success badge-pill badge-lg">
              Get started
            </span>
            <h2 class=" mt-6 mb-6">Notre Accompagnement</h2>
          </div>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag("hope.png", :alt => "rss feed", :class => "d-block w-100" ) %>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://images.unsplash.com/photo-1533588035103-caac00a4c8ff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://images.unsplash.com/photo-1501238295340-c810d3c156d2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section> -->

<footer class="footer-07">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <h2 class="footer-heading"><a href="#" class="logo">Synergie14.com</a></h2>
        <p class="menu">
          <a class="" href="/connaitre">Nous Connaître</a>
          <a class="" href="/impact">Notre Impact</a>
          <a class="" href="/soutenir">Nous Aider</a>
          <a class="" href="/contact">Nous Contacter</a>
          <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><%= image_tag("backtop.png", :alt => "rss feed", :style => "color: green", :class => "img_scd mt-5"  ) %></a>
        </p>
        <!-- <ul class="ftco-footer-social p-0">
          <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="ion-logo-twitter"></span></a></li>
          <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="ion-logo-facebook"></span></a></li>
          <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="ion-logo-instagram"></span></a></li>
        </ul> -->
      </div>
    </div>
  </div>
</footer>


<script>
  let backtotop = select('.back-to-top')
    if (backtotop) {
      const toggleBacktotop = () => {
        if (window.scrollY > 100) {
          backtotop.classList.add('active')
        } else {
          backtotop.classList.remove('active')
        }
      }
      window.addEventListener('load', toggleBacktotop)
      onscroll(document, toggleBacktotop)
    }
</script>
